<!DOCTYPE html>
<html lang="en">

<%- include('../public/partials/head.ejs') %>

    <body>
        <%- include('../public/partials/header.ejs') %>

            <main>
                <div id="editDetail">
                    <h3>
                        <%= data.character %>
                    </h3>
                    <p>
                        <%= data.quote %>
                    </p>
                    <img src="<%= data.image %>" alt="<%= data.character %> ">
                    <form action="/update/<%= data.id %>?_method=put" method="POST">
                        <input type="text" name="quote" value="<%= data.quote %>" id="textEdit">
                        <input type="submit" value="Save Change" id="editBtn">
                    </form>
                    <form action="/delete/<%= data.id %>?_method=delete" method="POST">
                        <input type="submit" value="Delete" id="editBtn">
                    </form>
                </div>
            </main>
    </body>

</html>