<!DOCTYPE html>
<html lang="en">

<%- include('../public/partials/head.ejs') %>


    <body>
        <%- include('../public/partials/header.ejs') %>

            <main>
                <% dataArray.forEach(element=> { %>
                    <% if (element.characterdirection==='Left' ) { %>
                        <div class="leftDiv">
                            <img src=" <%=element.image %> " alt="<%= element.character %> ">
                            <h3>
                                <%= element.character %>
                            </h3>
                            <p>
                                <%= element.quote %>
                            </p>
                            <button><a href="/details/<%= element.id %> ">Character Details</a></button>
                        </div>

                        <% } else { %>

                            <div class="rightDiv">
                                <img src=" <%=element.image %> " alt="<%= element.character %> ">
                                <h3>
                                    <%= element.character %>
                                </h3>
                                <p>
                                    <%= element.quote %>
                                </p>
                                <button><a href="/details/<%= element.id %> ">Character Details</a></button>
                            </div>
                            <% } %>
                                <% }) %>

            </main>
    </body>

</html>