<!DOCTYPE html>
<html lang="en">

<%- include('../public/partials/head.ejs') %>


    <body>
        <%- include('../public/partials/header.ejs') %>

            <main class="indexMain">
                <% dataArray.forEach(element=> { %>
                    <div id="div-img">
                        <h3>
                            <%= element.character %>
                        </h3>
                        <p>
                            <%= element.quote %>
                        </p>
                        <img src="<%= element.image %> " alt="<%= element.character %> ">

                        <form action="/save" method="POST">
                            <input type="hidden" name="character" value="<%= element.character %>">
                            <input type="hidden" name="quote" value="<%= element.quote %>">
                            <input type="hidden" name="img" value="<%= element.image %>">
                            <input type="hidden" name="direction" value="<%= element.characterDirection %>">
                            <input type="submit" value="Save" id="saveBtn">
                        </form>
                    </div>
                    <% }) %>

            </main>
    </body>

</html>